.Logo_Simplon2 {
	float: left;
	margin: 5px;
}

.titre {
	text-align: center;
	color: red;
	font-size: 50px;

}

.Ecole_Numerique {
	float: right;
	margin: 5px;

}

.photo {
	overflow: hidden;
	border-radius: 150px;
	width: 120px;
	height: 120px;
	display: inline-block;

}

.formateur {
	text-align: center;
	color: green;
	font-size: 30px;
}

.apprenant {
	text-align: center;
	color: green;
	font-size: 30px;
}

.nom {
	font-size: 45px;
	color: green;
	text-align: center;
}

.container div{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	display: inline-block;
	margin: 30px;
}

.container {
	text-align: center;
}

.retour {
	width: 50px;
	height: 50px;
}